<% include partials/header %>
<link rel="stylesheet" href="app.css">

<h1>This is the home page!</h1>

<img src="https://steemitimages.com/DQmc18uBMPfREgs46wUYKTeB8u3pECduDA9R3Emc3zadkpp/182.jpg">
<% include partials/footer %>