<!DOCTYPE html>
<html>
    <head>
        <title>Happy Birthday Pops!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        

<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>

<div class="mx-auto text-center" style="width: 1000px;">
    <h1 class="text-primary">Happy Birthday Pops!</h1>
    <a role="button" class="btn btn-outline-primary btn-lg mx-auto" href="/birthday"><i class="far fa-envelope"></i></a>
</div>

    </body>
</html>
